body{
    background-color:rgb(35, 0, 37);
}

/* TOP SECTION 1 -----------------------------------------------------------*/
.top-section1{
    color: rgb(45, 28, 43);
    justify-content: space-between;
    display:flex;
    align-items: center;
}

.information{
    display:flex;
    text-align: center;
    gap:40px;
}
.information a{
    color: rgb(236, 32, 215);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.name{
    color: rgb(120, 8, 109);
    margin: 0px;
}


/* TOP SECTION 2 --------------------------------------------------------------*/
.top-section2 {
    justify-content: space-between;
    display:flex;
    align-items: center;

}
.work-time{
    color:rgb(236, 32, 215);
}

.Portfolio{
    color:rgb(236, 32, 215);
}
.Online{
    color: rgb(236, 32, 215);
}

/* SECTION 3 ---------------------------------------------------------------*/
.Section3 {
    justify-content:flex-start;
    display:flex;
    align-items:normal;
}
p2{
    color:rgb(236, 32, 215);
}
p3{
    color: rgb(236, 32, 215);
}

.Job-Seeking{
    margin-left:120px;
    
}
.fullname{
    color:rgb(120, 8, 109);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}
.fresh{
    color: rgb(120, 8, 109);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}
p1{
    color: rgb(217, 177, 213);
}

/* SECTION 4------------------------------------------------------------------------- */
.scrolls{
    color: rgb(236, 32, 215);
    text-decoration: none;
    text-align: center;
    scroll-behavior: smooth;
}



/* SECTION 5 --------------------------------------------------------------------------*/
.RESUME{
    color:rgb(236, 32, 215);
}
.time{
    color:rgb(236, 32, 215);
}
.section5{
    justify-content: space-between;
    display:flex;
    align-items: center;
}


/* SECTION 6 ------------------------------------------------------------*/
.exp{
    font-size: 30px;
    color:rgb(120, 8, 109);
}
.retail{
   color: rgb(217, 177, 213);
}
.resturant{
    color:rgb(217, 177, 213);
}



/* SECTION 7 -------------------------------------------------------------*/
.about{
   font-size: 25px;
   color:rgb(120, 8, 109);
}
p4{
    color: rgb(217, 177, 213);
}



/* SECTION 8 ---------------------------------------------------------------*/
.Area{
    justify-content: space-between;
    display:flex;
    align-items: center;

}
.base{
 color:rgb(120, 8, 109);
}
p5{
 color: rgb(217, 177, 213)
}
.timezone{
 color:rgb(120, 8, 109);
}
p6{
 color: rgb(217, 177, 213)
}
.currently{
 color:rgb(120, 8, 109);
}
p7{
 color: rgb(217, 177, 213)
}
.previously{
 color:rgb(120, 8, 109);
}
p8{
 color: rgb(217, 177, 213)
}




/* SECTION 9 --------------------------------------------------------------*/
.skills{
    color:rgb(120, 8, 109);
    font-size: 25px;
}
.skilllist{
    color:rgb(236, 32, 215);
}

/* SECTION 10------------------------------------------------------------- */
.contact{
    color:rgb(120, 8, 109);
    font-size: 25px
}
.email{
    color: rgb(236, 32, 215);
}
p10{
 color: rgb(236, 32, 215);
}
.telephone{
    color: rgb(236, 32, 215);
}
p9{
 color: rgb(236, 32, 215);
}